.App {
    text-align: center;
}


.App-header {
    min-height: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 1rem;
}

.App-header h1 {
    padding: 1rem;
    text-align: center;
}

#root > .container {
    margin-bottom: 4.5rem;
}

div.tableActions {
    display: flex;
    justify-content: center;
}

.sortable {
    cursor: pointer;
    user-select: none;
    vertical-align: middle !important;
}

.App-footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
}

.App-footer p {
    margin: 0;
    padding: 1rem;
}


.App-link {
    color: #61dafb;
}

